body {
    font-family: 'Noto Sans Devanagari', sans-serif;
    color: #333;
}
.card {
    background-color: rgba(255, 255, 255, 0.9);
}
.btn-primary {
    background-color: #FF9933 !important;
    border-color: #FF9933 !important;
}
