{% extends "base.html" %}
{% block content %}
<div class="d-flex justify-content-between">
    <h2>Dashboard</h2>
</div>
<a href="{{ url_for('main.add_mantra') }}" class="btn btn-primary mb-3" style="background-color: #FF9933;">Add a Mantra</a>
<div class="row">
    {% for mantra in mantras %}
    <div class="col-md-4 mb-3">
        <div class="card" style="border-color: #FF9933;">
            <div class="card-body">
                <h5>{{ mantra.name }}</h5>
                <p>Syllables: {{ mantra.syllables }}</p>
                <p>Purascharana Count: {{ mantra.purascharana_count }}</p>
                {% set progress = (mantra.entries | sum(attribute='count') / mantra.purascharana_count * 100) if mantra.purascharana_count > 0 else 0 %}
                <p>Progress: {{ "%.1f"|format(progress) }}%</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
