{% extends "base.html" %}
{% block content %}
<h2>Mantra Records</h2>
<div class="row">
    {% for mantra in mantras %}
    <div class="col-md-4 mb-3">
        <div class="card" style="border-color: #FF9933; cursor: pointer;" onclick="window.location='{{ url_for('main.mantra_detail', mantra_id=mantra.id) }}'">
            <div class="card-body text-center">
                <h5>{{ mantra.name }}</h5>
                <p>Current Status: {{ mantra.entries | sum(attribute='count') }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
